SoundFile
torchaudio
munch
torch
pydub
pyyaml
librosa
nltk
matplotlib
accelerate
transformers
einops
einops-exts
tqdm
typing
typing-extensions
xlstm
nvidia-ml-py3
git+https://github.com/resemble-ai/monotonic_align.git
git+https://github.com/openai/whisper.git
